<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags for bootstrap -->
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<TITLE>VUE.JS For 8Squarei</TITLE>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<!-- Vue js -->
	<script type="text/javascript" src="vue.js"></script>

	<style type="text/css">

		.container{
			margin-top: 50px;
		}
		
		.title{
			margin-bottom: 50px;
		}

		.error-info{
			color:red;
			font-size: smaller;
			font-style: italic;
		}

		#img-holder{
			height: 450px !important;
			overflow-y: auto;
		}

		@media screen and (max-width: 767px){
			#img-holder{
				margin-top: 10px;
			}
		}

		#file-info-holder{
			height: 200px !important;
			overflow-y: auto;
		}

	</style>

</head>
<body>

<!-- 	
	<div id="app">
	  {{ message }}
	</div>
	<BR>
	<div id="root">
		root is showing
		<br>
		<div v-if="count === 1">
			Count is 1
		</div>	
	</div>

	<script type="text/javascript">
		var app = new Vue({
		  el: '#app',
		  data: {
		    message: 'Hello Vue!'
		  }
		})
		var Root = new Vue({
			el:"#root",
			data: {
				count: 0
			}
		})
	</script>
	<hr>
-->
	<div class="container alert alert-primary" id="app">
		<div class="row">
			<div class="col-sm">
				<h3 class="title" >Provide Information</h3>
				
				<form>
					<div class="form-group">
						<label>Name</label>
						<input type="text" class="form-control" name="name_reg_name" id="id_reg_name"  v-model="v_reg_name" placeholder="Full name" v-on:change="validateName">
						<p class = "error-info">{{errors.name.msg}}</p> <!-- Error will be shown here -->
					</div>
					<div class="form-group">
						<label>Email Address</label>
						<input type="email" class="form-control" name="name_reg_email" id="id_reg_email" v-model="v_reg_email" placeholder="name@example.com" v-on:change="validateEmail">
						<p class = "error-info">{{errors.email.msg}}</p> <!-- Error will be shown here -->
					</div>
					<div class="form-group">
						<label>Phone Number</label>
						<input type="text" class="form-control" id="id_reg_phone" v-model="v_reg_phone" placeholder="977-9XXXXXXXXX" v-on:change="validatePhone">
						<p class = "error-info">{{errors.phone.msg}}</p> <!-- Error will be shown here -->
					</div>
					<div class="form-group">
						<label>Gender</label>
						<select class="custom-select" id="id_reg_gender" v-model="v_gender" v-on:change="errors.gender.status = true">
							<option value="none" selected disabled hidden>Choose Gender</option>
							<option value="m">Male</option>
							<option value="f">Female</option>
							<option value="o">Other</option>
						</select>
					</div>
					<div class="form-group mb-3">
						<label>Image (*multiple image can be uploaded)</label>
						<div class="custom-file" >
							<input type="file" class="custom-file-input" multiple="" accept="image/*" id="id_image" v-on:change="uploadImage">
							<label class="custom-file-label">Choose Image</label>
						</div>
						<p class = "error-info">{{errors.image.msg}}</p> <!-- Error will be shown here -->
					</div>
					<div class="form-group mb-3">
						<label>File (*multiple file can be uploaded)</label>
						<div class="custom-file" >
							<input type="file" class="custom-file-input" multiple="" id="id_file" v-on:change="uploadFile(this)">
							<label class="custom-file-label">Choose File</label> 
						</div>
						<p class = "error-info">{{errors.file.msg}}</p> <!-- Error will be shown here -->
					</div>
					<button type="button" class="btn btn-success" v-on:click = "errorCheck">Submit</button> <!-- [onclick event calls errorCheck()] button for submit -->

				</form>
			</div>
			<div class="col-sm">
				<div class="alert alert-success" id="img-holder"> <!-- Uploaded images will be appended here-->
  					<label>Uploaded Images: {{image_count}}</label> 
				</div>
				<div class="alert alert-success" id="file-info-holder"> <!-- Uploaded files will be appended here-->
  					<label>Uploaded Files: {{file_count}}</label>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		var reg_form = new Vue({
			el:"#app",
			data: {
				v_reg_name:'', //data-binding
				v_reg_email:'', //data-binding
				v_reg_phone:'', //data-binding
				v_gender:'', //data-binding
				errors: {
					/*
						status -> stores status of validation (true => if valid; else => false)
						msg -> stores error msg
					*/
					name: {status:false, msg:null}, //stores error info
					email: {status:false, msg:null}, //stores error info
					phone: {status:false, msg:null}, //stores error info
					gender: {status:false, msg:null}, //stores error info
					image: {status:false, msg:null}, //stores error info
					file: {status:false, msg:null} //stores error info
				}, 
				image_count: 0, //uploaded image count
				file_count: 0 //uploaded file count
			},
			methods:{
				validateName: function(){

					/* checking if v_reg_name is empty*/
					if(this.v_reg_name.length < 1){
						this.errors.name.msg = null; //setting error msg null
						this.errors.name.status = false; //setting error status false
						return false;
					}

					/* checking if v_reg_name length is greater than 5*/
					if(this.v_reg_name.length < 5){

						/* assigning error info*/
						this.errors.name.msg = 'name should be longer than 5';
						this.errors.name.status = false;
						return false;
					}

					/* assigning error info*/
					this.errors.name.msg = null;
					this.errors.name.status = true;

					return true;
				},
				validateEmail: function(){

					/* checking if v_reg_email is empty*/
					if(this.v_reg_email.length < 1){

						this.errors.email.status = false;
						this.errors.email.msg = null;
						return false;

					}

					/*validating v_reg_email upon regex using match function of JS that validates upon regex*/
					if(this.v_reg_email.match(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/)){
						
						this.errors.email.msg = null;
						this.errors.email.status = true;
						return false;

					}

					this.errors.email.status = false;
					this.errors.email.msg = "enter valid email address";

					
				},
				validatePhone: function(){

					if(this.v_reg_phone.length < 1){

						this.errors.phone.msg = null;
						this.errors.phone.status = false;
						return false;
					}

					/*validating v_reg_email upon regex using match function of JS that validates upon regex*/
					if(this.v_reg_phone.match(/^\+?([0-9]{3})\)?[-. ]?([0-9]{10})$/)){

						this.errors.phone.msg = null;
						this.errors.phone.status = true;
						return false;
					}

					this.errors.phone.msg = "enter valid phone number, number should be in 977-9XXXXXXXXX format";
					this.errors.phone.status = false;		
				},
				uploadImage: function(){

					var img_holder = document.getElementById('img-holder');

					/* 
						removing every child expect the 1st child.
						(length > 2), because childNodes returns empty text of html an DOM element.
					*/
					while (img_holder.childNodes.length > 2) {
					    img_holder.removeChild(img_holder.lastChild); 
					}
					
					var v_image = document.querySelector('#id_image');

					if(!v_image){ //validating v_image 
						return false;
					}

		            if (v_image.files) {

		            	this.image_count = 0;
		                var filesAmount = v_image.files.length; //storing no of files 

		                for (i = 0; i < filesAmount; i++) {

		                    var size = (Number(v_image.files[i].size)/(1024*1024)).toFixed(2); //files[i].size conversion from Bytes to MB

		                    if(size >= 11.00){ //validating size of image uploaded

		                    	this.errors.image.msg = "image size is greater than 12MB, please upload image with smaller size";
		                        this.errors.image.status = false;

		                    	return false;
		                    }

		                    if ( /\.(jpe?g|png)$/i.test(v_image.files[i].name) ) {

		                        var reader = new FileReader(); //file reader that reads the file content

		                        var readerOnLoad = function(file, status) {

		                        	var img = new Image(500,500); //creating <img> element of 500 X 500 size
		                        	img.src = this.result; //storing result of the reader

		                        	
		                        	img_holder.appendChild(img); //appending child into img_holder
		                        };

		                        reader.addEventListener("load", readerOnLoad.bind(reader, v_image.files[i])); //setting on load eventlistener that fires after reader loads the file content
 

		                        reader.readAsDataURL(v_image.files[i]); //reader reading data as DATAURL which returns base64 encoded binary image data.

		                        this.errors.image.status = true;
		                        this.image_count++;
		                    }
		                }
		            }
			    
				},
				uploadFile: function(){

					var info_holder = document.getElementById('file-info-holder');

					/* 
						removing every child expect the 1st child.
						(length > 2), because childNodes returns empty text of html an DOM element.
					*/

					while (info_holder.childNodes.length > 2) {
					    info_holder.removeChild(info_holder.lastChild);
					}

					var v_file = document.querySelector('#id_file');

					if(!v_file){ //validating v_file
						return false;
					}

					if (v_file.files) {

						/*similar operation as uploadImage()*/

						this.file_count = 0;
						var filesAmount = v_file.files.length;

						for (i = 0; i < filesAmount; i++) {

		                    var size = (Number(v_file.files[i].size)/(1024*1024)).toFixed(2);

							var li = document.createElement("li");
							li.innerHTML = v_file.files[i].name + " ( "+ size +"MB )";

							info_holder.appendChild(li);
							this.errors.file.status = true;
							this.file_count++;
						}
					}
				}, 
				errorCheck: function(){

					var count = 0; /*count stores the number of invalid fields*/

					for(error of Object.keys(this.errors)){ //looping on each item in errors
						if(!this.errors[error].status){ //checking validation status 
							count++;
						}
					}

					return (count < 1) ? alert('Validation Successfully. Submission can be done.') : alert('Please enter valid information. Check for errors.');
				}
			}
		});
	</script>
</body>
</html>